<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
    <!-- Boostrap 4 CSS -->
        <!-- Boostrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Boostrap 4 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <title>Blockchain</title>
</head>

<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light p-3 mb-2 bg-light">
      <a class="navbar-brand" href="/">Blockchain of Certificates</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blockchain">Blockchain</a>
        </li>
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/add">Add Certificate</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          <li class="nav-item">
            <a class="nav-link" href="/userpage"><%= user.username %></a>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          <li class="nav-item">
            <a class="nav-link" href="/register">Sign Up</a>
          </li>
        <% } %>
      </ul>
    </nav>
    <!-- flash from here https://livebook.manning.com/book/get-programming-with-node-js/chapter-22/52 -->
    <% if (messages.success) { %>
      <div class="alert alert-success">
          <%= messages.success %>
      </div>
      <% } if (messages.error) {%>
        <div class="alert alert-danger">
          <%= messages.error %>
      </div>
      <% } %>
 
      
   