extends layout 

block content 
    h2 #{title}
    form(method='POST',action='/add')
        #form-group 
            label Owner: 
            input.form-control(name='owner',type='text')
            label Certificate Name: 
            input.form-control(name='cert_name',type='text')
        input.btn.btn-primary(type='submit',value='Submit')