doctype html 
html 
    head 
        title Blockchain Certificate Project
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body 
        .container
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='#') Blockchain of Certificates
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.nav-item.active
                            a.nav-link(href='/')
                                | Home 
                                span.sr-only
                        li.nav-item
                            a.nav-link(href='/add') Add Certificate
                    ul.nav.navbar-nav.navbar-right
                        if user
                            li.nav-item
                                a.nav-link(href='/logout') Logout
                            li.nav-item
                                a.nav-link(href='/userpage') #{user.username}
                        else 
                            li.nav-item
                                a.nav-link(href='/register') Register
                            li.nav-item
                                a.nav-link(href='/login') Log In
            != messages('message',locals)
            if errors 
                each error, i in errors 
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer 
                p Done by Osama Hosameldeen